/* Customizations */

/*BG image*/
body {
	background-image: url(../images/bg_low.jpg);
}

/*anime.js blobs*/
.logobox {
	#blobcontainer-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		
		svg.logoblob {
			z-index: -1;
			width: 100%;
			max-width: 100%;
		}
		
		#bracketslogo {
			position: absolute;
		}
	}
	#blobcontainer-bg {
		position: absolute;
		overflow: hidden;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index:-10;
		
		svg.blob {
			position: absolute;
			width: 2048px;
			height: 2048px;
			top: -1024px;
			left: -500px;
			
		}
	}
	
	
}